@tailwind base;
@tailwind components;
@tailwind utilities;

.shine-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    135deg,
    transparent 0%, 
    rgba(255, 255, 255, 0.1) 25%,
    rgba(255, 255, 255, 0.5) 40%,
    white 50%, 
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0.1) 75%,
    transparent 100%
  );
  filter: blur(0.2rem);
  /* transform: translateX(-10%); */
  pointer-events: none;
  animation: shine-animation 1.5s infinite linear;
}

@keyframes shine-animation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}
